<head>
  <title>The Curious Quill</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<header>
    <div class="logo">
      <img src="path/to/logo.png" alt="Blog Logo">
      <h1>My Blog</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  