<%- include ('partials/header'); -%>

<h1>COMPOSE</h1>
<form action="/compose" method="post">
    <label for="title">Title</label>
    <input type="text" id="title" name="blogTitle">
    
    <br>
    <label for="body">Body</label>
    <input type="text" id="body" name="blogBody">
    <br>
    
    <button type="submit">Publish</button>
</form>
  